Tutorial Feedback

## Writing your first schema

- https://nexusjs.org/getting-started/tutorial/chapter-writing-your-first-schema/#sdl "For the remainder of this tutorial we'll be keeping SDL to the right of Nexus code blocks." = not true
- https://nexusjs.org/getting-started/tutorial/chapter-writing-your-first-schema/#try-it-out "You can now open up your GraphQL playground and try the following query (left); In response, you should see something like so (right):" = not true

- https://nexusjs.org/getting-started/tutorial/chapter-writing-your-first-schema/#sdl Actual file content:
```
### This file was generated by Nexus Schema
### Do not make changes to this file directly


"""
A date-time string at UTC, such as 2007-12-03T10:15:30Z, compliant with the
`date-time` format outlined in section 5.6 of the RFC 3339 profile of the ISO
8601 standard for representation of dates and times using the Gregorian calendar.
"""
scalar DateTime

"""
The `JSON` scalar type represents JSON objects as specified by [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf).
"""
scalar Json

type Post {
  body: String
  id: Int
  published: Boolean
  title: String
}

type Query {
  ok: Boolean!
}

```
- https://nexusjs.org/getting-started/tutorial/chapter-writing-your-first-schema/#your-first-home-grown-query I assume I should copy/paste that TS code to my Post.ts? Where should I put the `type Query { ... }`? Into my generated file?
- "Go ahead and try to implement it, letting the autocompletion guide you." My autocompletion suggests `resolve` and that's it. Nothing else, no idea what I should do here - so I copy past the thing again (which is missing the `diff` to see the new, additional code)
- https://nexusjs.org/getting-started/tutorial/chapter-writing-your-first-schema/#try-it-out "In response, you should see something like so" - Shouldn't I see _exactly_ that?


## Adding Mutations to your API

- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#wire-up-the-context "Largely though, what it will contains will be defined by your app. "
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#use-the-context "This is the type propagation we just mentioned in action" =  first use of "type propagation" on this page 🤷 
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#your-first-mutation diff shows new content first, then replaced one and intendation of diff looks wrong
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#model-the-domain-part-2 " then we'll let API clients read the the published posts." + indentation in diff wrong + unclear if files are new, should be edited etc.
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#try-it-out "now head on over to the GraphQL Playground and run this query (left). If everything went well, you should see a response like this (right)" = no left and right - same for "Now, that published draft should be visible via the posts Query. Run this query (left) and expect the following response (right):"

- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#wire-up-the-context No idea what this "declare global" thing is about
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#use-the-context Missing explicit information in what file I should do this
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#use-the-context `db` was underlined with red squiggly line first, after I switched back to docs to double check and came back it was fixed
- That the `// 1` etc comments are copied over quite sucks btw - makes ugly code and I have to do additional work to get rid of it.
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#your-first-mutation Seems indeed that the `Mutation { ... }` is expected to magically show up in the generated `api.graphql`
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#your-first-mutation `resolve` has red squiggly line though:
![image](https://user-images.githubusercontent.com/183673/88482502-dc1eba00-cf61-11ea-9dfd-9f3da6f22539.png)
- Having syntax highlighting for the `.graphql` files would have been nice all along it turns out: https://github.com/graphql-nexus/nexus/issues/1281
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#model-the-domain-part-2 It was not obvious what I am supposed to do here - seems I should add some stuff to my existing Mutation thing. A `diff` view would have helped (and as usual, the information that the `api.graphql` will be regenerated and the second code snippet will appear in there) (And the same for the Query of course)
- https://nexusjs.org/getting-started/tutorial/chapter-adding-mutations-to-your-api/#try-it-out Would make sense to run the second query first once to see that nothing is returned, then modify the data and run again to see that now something is returned (if this is really what we are doing here)

## Testing your API

- https://nexusjs.org/getting-started/tutorial/chapter-testing-your-api/#setting-up-your-test-environment is easier to apply if the `jest` block ends with a `,` as well
- https://nexusjs.org/getting-started/tutorial/chapter-testing-your-api/#testing-the-publish-mutation Copy / paste of the code here does not include empty lines.
- https://nexusjs.org/getting-started/tutorial/chapter-testing-your-api/#testing-the-publish-mutation `tests/Post.test.ts` is the first file where I get no command to create the file but have to do it manually
- https://nexusjs.org/getting-started/tutorial/chapter-testing-your-api/#try-it-out I actually get this:
```
C:\Users\Jan\Documents\throwaway\nexus-tutorial  (nexus-tutorial@1.0.0)
λ npm run test

> nexus-tutorial@1.0.0 test C:\Users\Jan\Documents\throwaway\nexus-tutorial
> jest

  ●  process.exit called with "1"

      at Object.fatal (node_modules/nexus/src/lib/process/index.ts:15:11)
      at Object.getUsedPlugins (node_modules/nexus/src/lib/plugin/worktime.ts:29:13)
      at Object.createTestContext (node_modules/nexus/src/testing/testing.ts:72:27)

 RUNS  tests/Post.test.ts
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! nexus-tutorial@1.0.0 test: `jest`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the nexus-tutorial@1.0.0 test script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Jan\AppData\Roaming\npm-cache\_logs\2020-07-26T15_15_03_359Z-debug.log
```
I am not sure what I am supposed to do with the `diff`s in the tutorial - should I put those in the file somewhow? Or should it be updated automatically to this? 🤷 

## Persisting data (via Prisma)

- https://nexusjs.org/getting-started/tutorial/chapter-persisting-data-via-prisma/#connect-to-your-database I already have things in my app.ts, unsure what to do with it. Do I not need any of it any more?
- `npx prisma init` already created a `schema.prisma` and `.env` file (which the tutorial tells me to create)
- The docker command did not work for me (on Windows), switched to using a free Heroku Postgres
- https://nexusjs.org/getting-started/tutorial/chapter-persisting-data-via-prisma/#create-your-database-schema missing `diff`
- "npx prisma migrate save --experimental" requires me to name the migration - no idea what that means
- Then I get this nice update notification:
```
┌─────────────────────────────────────────────────────────┐
│                                                         │
│  Update available 2.1.3 -> 2.3.0                        │
│  Run npm install --save-dev @prisma/cli to update       │
│                                                         │
└─────────────────────────────────────────────────────────┘
```
which of course will not work for Nexus Plugin Prisma I think as it needs `resolutions` and yarn?
- https://nexusjs.org/getting-started/tutorial/chapter-persisting-data-via-prisma/#access-your-database now seems to be the diff that I was expecting earlier about my `app.ts`. I did not have ` import { schema, use } from 'nexus'` in that file anywhere though
- The `schema.extendType` stuff is missing the file this should happen in
- https://nexusjs.org/getting-started/tutorial/chapter-persisting-data-via-prisma/#try-it-out is missing the instructions on how to do this.
- I came up with this myself, should work:
```
mutation {
  createDraft(
    title: "foo",
    body: "bar",
  ) {
    id
  }
}
```
But does not as it returns `{}` in the playground.
`nexus dev` shows:
```
✕ app unhandledRejection
  | error  Error: @prisma/client did not initialize yet. Please run "prisma generate" and try to import it again.
  |        In case this error is unexpected for you, please report it in https://github.com/prisma/prisma-client-js/issues/390.
  |            at new PrismaClient (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\.prisma\client\index.js:3:11)
  |            at instantiatePrismaClient (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus-plugin-prisma\src\framework\lib\prisma-client.ts:29:12)
  |            at Object.getPrismaClientInstance (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus-plugin-prisma\src\framework\lib\prisma-client.ts:48:28)
  |            at Object.run (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus-plugin-prisma\src\framework\runtime.ts:31:32)
  |            at C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus\src\lib\plugin\load.ts:34:21
  |            at Array.map (<anonymous>)
  |            at Object.importAndLoadRuntimePlugins (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus\src\lib\plugin\load.ts:32:6)
  |            at Object.assemble (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus\src\runtime\app.ts:191:36)
  |            at eval (eval at main (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus\src\lib\watcher\runner.ts:83:3), <anonymous>:27:20)
  |            at main (C:\Users\Jan\Documents\throwaway\nexus-tutorial\node_modules\nexus\src\lib\watcher\runner.ts:83:3)
```
- After running `npx prisma generate` the mutation now works. To lazy to also figure out how to get the data back in the playground, so I check with `npx prisma --experimental`

## Testing with Prisma

- https://nexusjs.org/getting-started/tutorial/chapter-testing-with-prisma/#updating-our-test the `POst.test.ts` looks different than my local one (imports missing) - but I assume this is only about adding these two lines so I do that
- No idea what command I should run now.
- `npm run test` fails with:
```
C:\Users\Jan\Documents\throwaway\nexus-tutorial  (nexus-tutorial@1.0.0)                                              
λ npm run test                                                                                                       
                                                                                                                     
> nexus-tutorial@1.0.0 test C:\Users\Jan\Documents\throwaway\nexus-tutorial                                          
> jest                                                                                                               
                                                                                                                     
 FAIL  tests/Post.test.ts                                                                                            
  ● Test suite failed to run                                                                                         
                                                                                                                     
    error: no pg_hba.conf entry for host "88.130.49.186", user "lkebrjulxlpgdt", database "d531asc0ceo3rp", SSL off  
                                                                                                                     
      at Parser.parseErrorMessage (node_modules/pg-protocol/src/parser.ts:357:11)                                    
      at Parser.handlePacket (node_modules/pg-protocol/src/parser.ts:186:21)                                         
      at Parser.parse (node_modules/pg-protocol/src/parser.ts:101:30)                                                
      at Socket.<anonymous> (node_modules/pg-protocol/src/index.ts:7:48)                                             
                                                                                                                     
Test Suites: 1 failed, 1 total                                                                                       
Tests:       0 total                                                                                                 
Snapshots:   0 total                                                                                                 
Time:        0.404 s                                                                                                 
Ran all test suites.                                                                                                 
npm ERR! code ELIFECYCLE                                                                                             
npm ERR! errno 1                                                                                                     
npm ERR! nexus-tutorial@1.0.0 test: `jest`                                                                           
npm ERR! Exit status 1                                                                                               
npm ERR!                                                                                                             
npm ERR! Failed at the nexus-tutorial@1.0.0 test script.                                                             
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.                   
                                                                                                                     
npm ERR! A complete log of this run can be found in:                                                                 
npm ERR!     C:\Users\Jan\AppData\Roaming\npm-cache\_logs\2020-07-26T15_44_58_162Z-debug.log                         
```

## Authentication

- https://nexusjs.org/getting-started/tutorial/chapter-authentication/ seems empty. No idea why I am linked there if there is nothing (instead of not showing it until then)


